In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data.csv")

In [9]:
df

       R1  R2  R3  R4  ...  country  source                 major  Unnamed: 93
0       3   4   3   1  ...       US     2.0                   NaN          NaN
1       1   1   2   4  ...       US     1.0               Nursing          NaN
2       2   1   1   1  ...       US     1.0                   NaN          NaN
3       3   1   1   2  ...       CN     0.0                   NaN          NaN
4       4   1   1   2  ...       PH     0.0             education          NaN
...    ..  ..  ..  ..  ...      ...     ...                   ...          ...
51869   2   1   1   2  ...       PT     0.0  Chemical engineering          NaN
51870   3   1   1   2  ...       US     0.0            Economics           NaN
51871   3   3   2   1  ...       US     0.0     Film and Language          NaN
51872   2   3   3   3  ...       US     0.0              Biology           NaN
51873   4   3   1   2  ...      NaN     NaN                   NaN          NaN

[51874 rows x 94 columns]

In [3]:
df.head()

   R1  R2  R3  R4  ...  country  source      major  Unnamed: 93
0   3   4   3   1  ...       US     2.0        NaN          NaN
1   1   1   2   4  ...       US     1.0    Nursing          NaN
2   2   1   1   1  ...       US     1.0        NaN          NaN
3   3   1   1   2  ...       CN     0.0        NaN          NaN
4   4   1   1   2  ...       PH     0.0  education          NaN

[5 rows x 94 columns]

In [16]:
riasec = df[['R1',	'R2',	'R3',	'R4',	'R5',	'R6',	'R7',	'R8',	'I1',	'I2',	'I3',	'I4',	'I5',	'I6',	'I7',	'I8',	'A1',	'A2',	'A3',	'A4',	'A5',	'A6',	'A7',	'A8', 	'S1',	'S2',	'S3',	'S4',	'S5',	'S6',	'S7',	'S8',	'E1',	'E2',	'E3',	'E4',	'E5',	'E6',	'E7',	'E8',    'C1',	'C2',	'C3',	'C4',	'C5',	'C6',	'C7',	'C8' ]]

In [17]:
riasec.head()

   R1  R2  R3  R4  R5  R6  R7  R8  I1  ...  E8  C1  C2  C3  C4  C5  C6  C7  C8
0   3   4   3   1   1   4   1   3   5  ...   3   1   3   1   1   1   3   1   1
1   1   1   2   4   1   2   2   1   5  ...   3   1   1   2   1   1   2   1   1
2   2   1   1   1   1   1   1   1   4  ...   3   1   3   2   2   1   2   4   1
3   3   1   1   2   2   2   2   2   4  ...   3   3   2   3   3   2   2   2   2
4   4   1   1   2   1   1   1   2   5  ...   2   4   2   2   4   5   5   2   2

[5 rows x 48 columns]

In [ ]:
riasec.loc[0]

In [24]:
riasecVals = [0, 0, 0, 0, 0, 0]
riasecVals[0] = (riasec.loc[0][0]+riasec.loc[0][1]+riasec.loc[0][2]+riasec.loc[0][3]+riasec.loc[0][4]+riasec.loc[0][5]+riasec.loc[0][6]+riasec.loc[0][7]) * 2.5
riasecVals[1] = (riasec.loc[0][8]+riasec.loc[0][9]+riasec.loc[0][10]+riasec.loc[0][11]+riasec.loc[0][12]+riasec.loc[0][13]+riasec.loc[0][14]+riasec.loc[0][15])*2.5
riasecVals[2] = (riasec.loc[0][16]+riasec.loc[0][17]+riasec.loc[0][18]+riasec.loc[0][19]+riasec.loc[0][20]+riasec.loc[0][21]+riasec.loc[0][22]+riasec.loc[0][23])*2.5
riasecVals[3] = (riasec.loc[0][24]+riasec.loc[0][25]+riasec.loc[0][26]+riasec.loc[0][27]+riasec.loc[0][28]+riasec.loc[0][29]+riasec.loc[0][30]+riasec.loc[0][31])*2.5
riasecVals[4] = (riasec.loc[0][32]+riasec.loc[0][33]+riasec.loc[0][34]+riasec.loc[0][35]+riasec.loc[0][36]+riasec.loc[0][37]+riasec.loc[0][38]+riasec.loc[0][39])*2.5
riasecVals[5] = (riasec.loc[0][40]+riasec.loc[0][41]+riasec.loc[0][42]+riasec.loc[0][43]+riasec.loc[0][44]+riasec.loc[0][45]+riasec.loc[0][46]+riasec.loc[0][47])*2.5

In [25]:
print(riasecVals)

[50.0, 82.5, 67.5, 92.5, 40.0, 30.0]

In [26]:
ocean = df[['TIPI1',	'TIPI2',	'TIPI3',	'TIPI4',	'TIPI5',	'TIPI6',	'TIPI7',  'TIPI8',	'TIPI9',	'TIPI10']]

In [27]:
ocean.head()

   TIPI1  TIPI2  TIPI3  TIPI4  TIPI5  TIPI6  TIPI7  TIPI8  TIPI9  TIPI10
0      5      4      2      3      2      7      5      6      6       5
1      5      5      7      4      7      6      6      4      6       1
2      6      4      3      7      5      1      7      1      5       3
3      5      2      7      7      5      7      6      2      3       6
4      6      7      1      7      4      7      7      5      4       7

In [28]:
ocean.loc[0]

TIPI1     5
TIPI2     4
TIPI3     2
TIPI4     3
TIPI5     2
TIPI6     7
TIPI7     5
TIPI8     6
TIPI9     6
TIPI10    5
Name: 0, dtype: int64

In [29]:
oceanVals = [0,0,0,0,0]
oceanVals[0] = ((ocean.loc[0][4] + (8 - ocean.loc[0][9]))/2) * (100/7)
oceanVals[1] = ((ocean.loc[0][2] + (8 - ocean.loc[0][7]))/2) * (100/7)
oceanVals[2] = ((ocean.loc[0][0] + (8 - ocean.loc[0][5]))/2) * (100/7)
oceanVals[3] = ((ocean.loc[0][6] + (8 - ocean.loc[0][1]))/2) * (100/7)
oceanVals[4] = ((ocean.loc[0][8] + (8 - ocean.loc[0][3]))/2) * (100/7)
print(oceanVals)

[35.714285714285715, 28.571428571428573, 42.85714285714286, 64.28571428571429, 78.57142857142857]

In [30]:
print(oceanVals, riasecVals)

[35.714285714285715, 28.571428571428573, 42.85714285714286, 64.28571428571429, 78.57142857142857] [50.0, 82.5, 67.5, 92.5, 40.0, 30.0]